#image {
  width: 176px;
  height: 100px;
  background: url('https://asset-out-cdn.video-cdn.net/private/videos/7UgCu4dkmzMcABz3GBy1Mr/storyboard?__token__=exp=1582287381~acl=/private/videos/7UgCu4dkmzMcABz3GBy1Mr/storyboard*~hmac=411d77d9480aaa758c1af78a14849951cdc7026d2929ee430a316b2e6d84914b') 0px 0px;
}